@import "../../assets/global-styles/global-styles";

#game-over-modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    
    .modal-background {
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0;
        top: 0;
    }

    .modal-content {
        padding: 2rem;
        background: $surface;
        border-radius: 1rem;
        display: grid;
        grid-row-gap: 1rem;
        place-items: center;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        text-align: center;

        h1 {
            font-size: 1.5rem;
        }

        .score {
            p {
                margin: 0 1rem;
                display: inline-block;
            }
        }

        button {
            width: max-content;
            padding: 0.5rem 4rem;
            background-size: 400%;
            border-radius: 1rem;
            color: $on-primary;
            font-weight: 800;
            position: relative;
            text-align: center;
        }

        button:before {
            content: "";
            animation: tryAgainButtonAnimation 6s linear infinite;
            background: $primary;
            background-size: 400%;
            border-radius: 1rem;
            position: absolute;
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: -5px;
            z-index: -1;
        }
    }
}